body{
    background: url(https://images.unsplash.com/photo-1494883759339-0b042055a4ee?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3607f384da70239b98b2172bd7e4dd41&auto=format&fit=crop&w=1334&q=80)
}
#content{
   text-align: center;
    padding-top: 2%;
    color: floralwhite;
}
hr{
    color: black;
}
#morning{
    text-align: center;
    color: white;
}